
@media (max-width: 1024px) {
    .rules {
        width: 60%;
    }
    .col,
    .col-1 {
        height: 100px;
        width: 100px;
    }
    .container {
        height: 600px;
    }
    .sub-img {
        top: 78%;
        left: 50%;
        width: 150px;
        height: 150px;
        transform: translate(-50%);
        z-index: -1;
        opacity: 0.3;
    }
}
@media (max-width: 768px) {
    .rules {
        width: 50%;
    }
    .container {
        height: 550px;
    }
    .loading-div > h1 {
        width: 100vw;
        font-size: 25px;
    }
    .loading > img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width: 425px) {
    .rules {
        width: 70%;
    }
    .col,
    .col-1 {
        height: 80px;
        width: 80px;
        font-size: 30px;
    }
    .result {
        padding: 50px 50px 80px 50px;
        font-size: 30px;
        height: auto;
        width: fit-content;
    }
    .loading > img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
@media (max-width: 325px) {
    .rules {
        width: 70%;
    }
    .col,
    .col-1 {
        height: 70px;
        width: 70px;
    }
    .container {
        height: 500px;
    }
    .btn > button {
        padding: 6px 12px;
    }
}
